/* -------------------------
 * Main stylesheet
 * ------------------------- */
@use "fonts";


body {
  color: black;
  font-family: Berkeley Mono, monospace, serif;
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
  min-height: 100vh;
  overflow-wrap: break-word;
}

#root {
  max-width: 640px;
  margin: auto;
  padding: 2ch;

  & #content {
    margin: 1ch auto;
    background-color: #fff;
  }
}

h2, h3, h4, h5, h6 { margin-top: 3rem; }

hr { margin: 2rem 0; }

p { margin: 1rem 0; }

li { margin: 0.4rem 0; }

hr {
  text-align: center;
  border: 0;

  &:before { content: '/////' }
  &:after { content: attr(data-content) '/////' }
}

table { width: 100%; }

table, th, td {
  border: thin solid black;
  border-collapse: collapse;
  padding: 0.4rem;
}

code {
  color: white;
  background: black;
}

pre code {
  display: block;
  overflow-x: auto;
  white-space: pre-wrap;
  padding: 1rem;
}

blockquote {
  font-style: italic;
  border: thin solid black;
  padding: 1rem;

  p { margin: 0; }
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}


/* --- Stuff I probably won't use ---*/
*:target { background: yellow; }

nav, .taxonomies { text-align: center; }

.post-meta { text-align: right; }

.footnote-definition {
  padding: 0 1rem;
  &:target {
    background: yellow;
    color: #212121;
  }
  p {
    display: inline;
  }
}


/* I do eventually want to support dark theming but
 * not with a naive color inversion approach shown here
// TODO: dynamic (mostly background) theming
@mixin dark-appearance {
  filter: invert(1);
  img {
    filter: invert(1);

    &.invertable { filter: invert(0); }
  }
}

body[theme="dark"] { @include dark-appearance; }

@media (prefers-color-scheme: dark) {
  body[theme="auto"] { @include dark-appearance; }
}
*/
