/* -------------------------
 * Main stylesheet
 * ------------------------- */
@use "fonts";


body {
  color: black;
  font-family: Berkeley Mono, monospace, serif;
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
  min-height: 100vh;
  overflow-wrap: break-word;
  background: linear-gradient(90deg, #fff 21px, transparent 1%) 50%, linear-gradient(#fff 21px, transparent 1%) 50%, #000;
  background-attachment: fixed;
  background-size: 22px 22px;
}

#root {
  max-width: 92ch;
  margin: auto;
  padding: 4ch 2ch;

  & #content {
    margin: auto;
    background-color: #fff;
    padding: 2ch 8ch;
    border: 2px solid;
    box-shadow: 2px 2px #AAA;

    @media (max-width: 720px) {
      padding: 2ch 1ch;
      border: none;
      box-shadow: none;
    }
  }
}

header {
  padding: 1ch;
  min-height: 12ch;
}
footer {
  padding: 1ch;
  min-height: 4ch;
}

h2, h3, h4, h5, h6 { margin-top: 3rem; }

hr { margin: 2rem 0; }

p { margin: 1rem 0; }

li { margin: 0.4rem 0; }

hr {
  text-align: center;
  border: 0;

  &:before { content: '/////' }
  &:after { content: attr(data-content) '/////' }
}

table { width: 100%; }

table, th, td {
  border: thin solid black;
  border-collapse: collapse;
  padding: 0.4rem;
}

code {
  color: white;
  background: black;
}

pre code {
  display: block;
  overflow-x: auto;
  white-space: pre-wrap;
  padding: 1rem;
}

blockquote {
  font-style: italic;
  border: thin solid black;
  padding: 1rem;

  p { margin: 0; }
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}


/* --- Stuff I probably won't use ---*/
*:target { background: yellow; }

nav, .taxonomies { text-align: center; }

.post-meta { text-align: right; }

.footnote-definition {
  padding: 0 1rem;
  &:target {
    background: yellow;
    color: #212121;
  }
  p {
    display: inline;
  }
}


/* I do eventually want to support dark theming but
 * not with a naive color inversion approach shown here
// TODO: dynamic (mostly background) theming
@mixin dark-appearance {
  filter: invert(1);
  img {
    filter: invert(1);

    &.invertable { filter: invert(0); }
  }
}

body[theme="dark"] { @include dark-appearance; }

@media (prefers-color-scheme: dark) {
  body[theme="auto"] { @include dark-appearance; }
}
*/


// Hide scrollbar: https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp
*::-webkit-scrollbar {
  display: none;  /* Chrome and Safari */
}

:root {
  scrollbar-width: none;  /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}
