{%- import "macros.html" as macros -%}

<!DOCTYPE html>
<!-- BEGIN BASE TEMPLATE -->
<html lang="{{ lang }}">
    <!--meta-->
    {% include "partials/head.html" %}
    <!--body-->
    <body>
        <div id="root">
            <!--header-->
            <header>
            {% block header %}
            {% endblock header %}
            </header>
            <!--content-->
            <div id="content" aria-label="Content">
                <!-- BEGIN SUBTEMPLATE -->
                <main class="page-content">
                {% block content %}
                {% endblock content %}
                </main>
                <!-- END SUBTEMPLATE -->
            </div>
            <!--footer-->
            <footer>
            {% block footer %}
            {% endblock footer %}
            </footer>
        </div>
    </body>
</html>
<!-- END BASE TEMPLATE -->
