{%- import "macros.html" as macros -%}

<!DOCTYPE html>
<html lang="{{ lang }}">
    {% include "partials/head.html" %}
    <body theme="auto">
        <div class="w">
            <header>
                {% block header %}
                {% endblock header %}
            </header>
            <main class="page-content" aria-label="Content">
                {% block content %}
                {% endblock content %}
            </main>
            <footer>
                {% block footer %}
                {% endblock footer %}
            </footer>
        </div>
    </body>
</html>
